body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.646);
}
#container {
    width: 1000px;
    height: 550px;
    margin: 20px;
}
.operator{
        width: 50px;
            height: 20px;
            margin: 1px;
            border-radius: 0%;
            border: 0px;
            font-size: 14px;
            background-color: aliceblue;
            cursor: pointer;
}
.operator:hover {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.767);
}
#history {
    text-align: right;
    font-size: 15px;
    color: grey;
    height: 30px;
    padding-top: 30px;
}

#output {
    text-align: right;
    font-size: 15px;
    color: grey;
    height: 100px;
}
